
.model
  margin-top: 6rem

  &__description
    margin-top: 3rem
    max-width: 65rem
    color: var(--color-white-700)
  &__link
    margin-left: -.1rem

  &__container
    width: 100%
    height: 50rem
    margin: 3rem auto
    border: .2rem solid var(--color-accent-300)
    transition: all .2s
    &:hover
      border-color: var(--color-accent)
    canvas
      width: 100%
    .spinner
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 100%
      color: var(--color-white)
      font: bold 3rem var(--main-font)

    .sc-hBxehG //- Header
      border-radius: 0
      background: linear-gradient(152deg, #0c1e38 0%, #30203d 100%)
      font-family: var(--second-font)
    .sc-fEXmlR //- Container
      padding: 0
    .sc-eDWCr //- Headline
      background-color: var(--color-accent-300)
      color: var(--color-white)
      text-transform: none
      font-family: var(--main-font)
      &::before, &::after
        top: 0
        bottom: 0
        margin: auto 0
        background-color: var(--color-white)
    .sc-bqWxrE //- Background
      padding: .8rem
      background-color: var(--color-black)
      margin: 0
    .sc-gswNZR //- Label
      color: var(--color-accent)
      font-family: var(--main-font)
      width: 7rem
    .sc-eDvSVe //- Input
      background-color: var(--color-accent-300)
      border-radius: 1rem
      &::-webkit-slider-thumb
        background-color: var(--color-accent)
    .sc-hLBbgP //- Result
      color: var(--color-white-700)
      font-family: var(--main-font)
