canvas {
  width: 100%;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  font: bold 3rem var(--main-font);
}
